<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.raisetechjava202107.mapper.TaskMapper">
  <select id="findAll" resultType="com.example.raisetechjava202107.domain.Task">
    select * from task
  </select>

  <select id="findById" resultType="com.example.raisetechjava202107.domain.Task">
    select * from task where id = #{id}
  </select>
</mapper>
